<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tqlModel -->
      <package
            uri="http://www.example.org/tqlModel"
            class="tqlModel.TqlModelPackage"
            genModel="model/tqlModel.genmodel"/>
   </extension>

</plugin>
